:root {
    --bg1: #aac13f;
    --bg2: #67722d;
    --bg3: #4a5123;
    --bg4: #84865b;
    --bg5: #b6b6b6;
    --bg6: #c59a15;
    --bg7: #e4ab00;
    --bg8: #ebd592;
    --bg2t: #66722dd2;
    --bg3t: rgba(75, 82, 35, 0.9);
    --bg6t: #c59915d2;
    --bgDarkPrincipal: rgb(18, 20, 9);
    --bgDark: rgb(22, 21, 21);
    --bgGray: rgb(126, 126, 126);
    --bgGrayLight: rgb(241, 241, 241);
    --bgDarkGray: rgb(31, 31, 31);
    --bgSuccess: #009143;
    --bgSuccesst: rgb(3, 121, 58);
    --bgDanger: #e63a3a;
    --bgWhite2: #cfcfcf;
}

/* GENERAL */
html {
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif !important;
}

.bg-dark-gray {
    background-color: var(--bgDarkGray);
}

table .bg-principal,
.bg-principal {
    background-color: var(--bg3);
    color: white;
}
table .bg-dark-principal,
.bg-dark-principal {
    background-color: var(--bgDarkPrincipal);
    color: white;
}

.italic {
    font-style: italic;
}

.bg-secundario {
    background-color: var(--bg7);
}

.content-wrapper {
    background-color: var(--bg5);
}

.text-principal {
    color: var(--bg3) !important;
}

.text-secundario {
    color: var(--bg6);
}

.text-secundario2 {
    color: var(--bg7) !important;
}

.text-principal:hover {
    color: var(--bg3);
}

.dropdown-menu {
    background-color: var(--bg7);
    padding: 10px 15px;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5 {
    color: var(--bg3);
}

.content-wrapper .descripcion {
    color: white;
}

.content-wrapper .breadcrumb {
    padding: 5px;
    background-color: var(--bg3);
}

.content-wrapper .breadcrumb li.breadcrumb-item a {
    color: var(--bg5);
}

.content-wrapper .breadcrumb li.active a {
    color: var(--bg1);
}

.content-wrapper .breadcrumb li {
    color: white;
}

.loading {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg3t);
    transition: 0.3s;
    opacity: 0;
    color: white;
    height: 100vh;
    width: 100vw;
}

.loading.show {
    opacity: 1;
    z-index: 9999;
}

label.required::after {
    font-family: "Epunda_Slab";
    font-weight: 400;
    content: " (*)";
    color: red;
}

/* MODAL */
.modal-open .modal.show {
    background-color: rgba(0, 0, 0, 0.7);
}

/* BOTON */
body .btn.btn-success {
    color: white;
    background-color: var(--bgSuccess);
    border-color: var(--bgSuccess);
    font-weight: 800;
}

body .btn.btn-success:hover {
    background-color: var(--bgSuccesst);
    color: white;
}
.btn-principal {
    color: white;
    background-color: var(--bg6);
    font-weight: 800;
}

.btn-secundario {
    color: var(--bg6);
    background-color: var(--bg3);
    font-weight: 800;
}

.btn-outline-principal {
    color: var(--bg6);
    border-color: var(--bg6);
    font-weight: 800;
}
.btn-outline-principal:hover {
    color: var(--bg6t);
}

.btn-secundario:hover {
    color: var(--bg6t);
    background-color: var(--bg3t);
}

.btn-principal:hover {
    background-color: var(--bg7);
    color: white;
}

.btn-alert-success {
    background-color: #218838;
}

.btn-error {
    background-color: #c82333;
}

.page-item.active .page-link {
    background-color: var(--bg3);
    border-color: var(--bg3);
}

/* SIDEBAR */
.main-sidebar {
    background-color: var(--bgDarkGray);
    font-size: 0.9em;
}

.nav-header.bg-principal {
    background-color: var(--bgDark);
    color: white;
}
.sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-success .nav-sidebar > .nav-item > .nav-link.active {
    border-radius: 0;
    background-color: var(--bg2);
    color: white;
    width: 100%;
}

.sidebar-dark-success .nav-sidebar > .nav-item > .nav-link {
    width: 100%;
}

/* SUB MENU */

.nav-sidebar .nav-item > .nav-link.sub-menu.menu-is-opening .right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.nav-treeview > .nav-item > .nav-link {
    width: 100%;
    border-radius: 0;
}

.nav-treeview > .nav-item > .nav-link.active,
.nav-treeview > .nav-item > .nav-link.active:focus,
.nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: var(--bgWhite2) !important;
    font-weight: bold;
}

.nav-sidebar .nav-treeview {
    height: 0;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

/* MI SUB MENU PORTAL */
.navbar-nav .dropdown-menu {
    padding: 0px;
    max-height: 80vh;
    overflow-y: auto;
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown {
    width: 100%;
}
.navbar-nav .dropdown-menu a::after {
    border: none;
}

.navbar-nav .dropdown-menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-bottom: solid 1px white;
}

.navbar-nav .dropdown-menu a:focus,
.navbar-nav .dropdown-menu a:target,
.navbar-nav .dropdown-menu a:active {
    background-color: transparent;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show {
    background-color: var(--bg7);
    max-width: 80vw;
    border-radius: 0px;
    /* box-shadow: 1px 1px 5px var(--bgDark); */
    box-shadow: inset 2px 2px 10px var(--bgDarkGray);
    min-width: 100%;
    position: relative;
}
.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.navbar-nav .dropdown-menu .dropdown-menu.miSubmenu.show .dropdown-item:hover {
    font-weight: 600;
    background-color: transparent;
    box-shadow: 2px 2px 10px var(--bgDark);
    transform: translateY(-1px);
}

.navbar-nav .dropdown-menu.miSubmenu a {
    text-wrap: wrap;
}
.navbar-nav .dropdown-menu.miSubmenu .dropdown-menu {
    max-width: 100%;
}

.navbar-nav .dropdown-menu.miSubmenu .nav-item.dropdown p {
    height: 100%;
    margin: 0;
    flex: 1;
    width: calc(100% - 20px);
}

/* MI TABLE */
.mi-table {
    font-size: 0.8rem;
}

body table.table.mitabla.tablaFixeada thead tr {
    box-shadow: none;
}

body table.table tbody tr .accion .btn.accion_icon {
    width: 40px;
    margin: 1px;
}

body table.table tbody tr td {
    vertical-align: middle;
}

body .mi-table thead.bg__primary tr th {
    color: white;
    background-color: var(--bg2);
}

body .mi-table table thead tr th .iheader .accion {
    color: white;
}

body .mi-table table thead tr th .iheader .accion.active {
    color: white;
}

/* PORTAL */
h2,
h3,
h4,
.font-weight-bold,
b {
    color: var(--bg3);
    font-weight: bold;
}

.contenedor_secciones .seccion .info_seccion img {
    margin: auto;
    max-height: 500px;
    transition: all 0.5s;
}

.contenedor_secciones .seccion .info_seccion img:hover {
    transform: scale(1.01);
}

.contenedor_secciones .seccion:nth-child(odd) .info_seccion {
    background-color: var(--bgGrayLight);
    margin-bottom: 50px;
    box-shadow: -2px 2px 10px var(--bg3);
}

.contenedor_secciones .seccion:nth-child(even) .info_seccion {
    background-color: var(--bg2);
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px var(--bgDark);
}

.contenedor_secciones .seccion:nth-child(odd) .font-weight-bold,
.contenedor_secciones .seccion:nth-child(odd) b,
.contenedor_secciones .seccion:nth-child(odd) .subtitulo-seccion,
.contenedor_secciones .seccion:nth-child(odd) .titulo-seccion {
    color: var(--bg3);
    font-weight: bold;
}

.contenedor_secciones .seccion:nth-child(even) .font-weight-bold,
.contenedor_secciones .seccion:nth-child(even) b,
.contenedor_secciones .seccion:nth-child(even) i,
.contenedor_secciones .seccion:nth-child(even) .subtitulo-seccion,
.contenedor_secciones .seccion:nth-child(even) .titulo-seccion {
    color: var(--bg7);
    font-weight: bold;
}

.contenedor_secciones .seccion i {
    margin-right: 3px;
}

.contenedor_secciones .seccion:nth-child(even) .info_seccion img {
    border: solid 1px var(--bg3);
    box-shadow: 0px 0px 10px var(--bgDark);
}

img.img_png,
.contenedor_secciones .seccion .info_seccion img.img_png {
    box-shadow: none;
    border: none;
}

.img_hover {
    transition: all 0.3s;
}

.img_hover:hover {
    transform: scale(1.05);
}

.titulo-seccion {
    font-size: 2.3em;
    color: var(--bg3);
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.subtitulo-seccion {
    font-weight: 600;
    font-size: 1.7em;
}

.contenedor_secciones .col-12 {
    padding: 10px;
}

.contenedor_secciones > .col-12:nth-child(2n) {
    background-color: var(--bg3);
    color: white;
}

.contenedor_secciones > .col-12:nth-child(2n) h1,
.contenedor_secciones > .col-12:nth-child(2n) h2,
.contenedor_secciones > .col-12:nth-child(2n) h3,
.contenedor_secciones > .col-12:nth-child(2n) h4,
.contenedor_secciones > .col-12:nth-child(2n) h5,
.contenedor_secciones > .col-12:nth-child(2n) table thead tr th,
.contenedor_secciones > .col-12:nth-child(2n) table tbody tr td {
    color: white;
}

.contenedor_secciones > .col-12:nth-child(2n) h1,
.contenedor_secciones > .col-12:nth-child(2n) h2,
.contenedor_secciones > .col-12:nth-child(2n) h3,
.contenedor_secciones > .col-12:nth-child(2n) h4,
.contenedor_secciones > .col-12:nth-child(2n) h5,
.contenedor_secciones > .col-12:nth-child(2n) .titulo-seccion,
.contenedor_secciones > .col-12:nth-child(2n) b,
.contenedor_secciones > .col-12:nth-child(2n) .font-weight-bold,
.contenedor_secciones > .col-12:nth-child(2n) table thead tr th {
    color: var(--bg7);
}

.contenedor_secciones img {
    max-width: 100%;
    object-fit: cover;
}

/* SECCIONES PORTAL */
.img_admicion {
    height: 50px;
}

@media (min-width: 900px) {
    .img_admicion {
        height: 100px;
    }
    .contenido .imgs img {
        width: 140px;
    }

    .tituloAdmicion {
        width: 620px;
    }
}

/* ARCHIVOS INSCRIPCIÓN /REQUISITOS */
.contenedorFile {
    margin-top: 10px;
    width: 100%;
    border: solid 2px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}
.contenedorFile.cargado {
    border-color: var(--bgSuccess);
}

.contenedorFile.cargado i,
.contenedorFile.cargado .contInfo {
    color: var(--bgSuccess);
}

.contenedorFile.sinCargar {
    border-color: var(--bgDanger);
}

.contenedorFile.sinCargar i,
.contenedorFile.sinCargar .contInfo {
    color: var(--bgDanger);
}

.contenedorFile .contInfo .descripcion {
    color: var(--bgGray);
}

.contenedorFile .principal {
    display: flex;
    flex-direction: row;
}

.contenedorFile .principal .icon {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.contenedorFile .contInfo {
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
}

.contenedorFile .contInfo .title,
.contenedorFile .contInfo .descripcion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contenedorFile input[type="file"] {
    display: none;
}

/* PORTAL */
.carusel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carusel::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: inherit; /* usa la misma imagen de fondo */
    background-repeat: no-repeat;
    filter: blur(20px) brightness(0.6); /* efecto difuminado y oscurecido */
    transform: scale(1.2); /* expande un poco para cubrir bordes */
    z-index: 0;
}

.carusel img,
.carusel video {
    z-index: 1000;
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.bg-carusel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenido {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.contenido .imgs {
    display: flex;
    gap: 20px;
}

.btn-iniciar-sesion {
    margin-top: 20px;
}

.contenido .imgs a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

.contenido .imgs a:hover {
    transform: scale(1.09);
}

.contenido .imgs img {
    width: 90px;
    filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.5));
}

.tituloAdmicion {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 900px) {
    .contenido .imgs img {
        width: 140px;
    }

    .tituloAdmicion {
        width: 620px;
    }
}

/* SECCIONES - ANAPOL,ETC */
.img-seccion {
    width: 200px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}

.text-seccion {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.img-seccion {
    width: 200px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}

.text-seccion {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.carusel {
    width: 100%;
    height: 100%;
}

.btn-volver-principal {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.carusel img {
    object-fit: cover;
}

.carusel video {
    height: 100%;
}
.bg-carusel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenido {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.contenido .imgs {
    display: flex;
    gap: 20px;
}

.btn-iniciar-sesion {
    margin-top: 20px;
}

.contenido .imgs a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
}

.contenido .imgs img {
    width: 90px;
}

.tituloAdmicion {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 900px) {
    .text-seccion {
        color: white;
        font-weight: bold;
        font-size: 2rem;
    }

    .carusel video {
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
    }
}

.navbar {
    transition: all 0.3s ease; /* animación suave */
}

#btnUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    transition: opacity 0.3s ease;
}

/* FOOTER PAGINAS */
.footer-paginas {
    border-top: solid 1px var(--bg5);
    background-color: var(--bg3);
}

.footer-paginas .redes_sociales {
    text-align: center;
}
.footer-paginas .redes_sociales a {
    color: white;
    margin: 10px;
    font-size: 2em;
}

.footer-paginas .redes_sociales a i {
    transition: 0.3s;
}

.footer-paginas .redes_sociales a:hover i {
    transform: scale(1.1);
}

#app > .container-fluid.pagina {
    min-height: 83.01vh;
}

.w-33 {
    width: 33.3333%;
    object-fit: cover;
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; /* o center si quieres centrar la galería */
}

.img-grid img {
    flex: 0 0 24%; /* ocupa 24% cada imagen (4 por fila) */
    max-width: 24%;
    height: auto;
    object-fit: cover;
}
